.myg-toolbar > .mdc-toolbar__row {
  padding-left: myg-spacing(3);

  @include myg-grid__bigger-than(tablet) {
    padding-right: myg-spacing(3);
  }

  & > section.mdc-toolbar__section.mdc-toolbar__section--align-start {
    & > h2 > a {
      color: myg-theme__color(text, darker);
      text-decoration: none !important;
    }
  }

  & > section.mdc-toolbar__section.mdc-toolbar__section--align-end {
    &:not(.mobile) {
      display: none;
    }

    & > a:not(.myg-button) {
      align-items: center;
      color: myg-theme__color(text, base);
      display: flex;
      font-size: myg__px(15);
      height: map-get($myg-layout, toolbar-height);
      justify-content: center;
      padding: 0 myg__px(15);
      text-decoration: none !important;

      @include myg-animate__transition(color);

      &:hover {
        color: myg-theme__color(accent, base);
      }
    }

    &.mobile > a {
      background: myg-theme__color(background, base);
      padding: 0 myg__px(20);

      @include myg-animate__transition(background);

      &:hover {
        background: myg-theme__color(background, lighter);
      }
    }

    & > a.myg-button {
      margin-left: myg__px(15);
    }
  }

  @include myg-grid__bigger-than(tablet) {
    section.mdc-toolbar__section.mdc-toolbar__section--align-end {
      &:not(.mobile) {
        display: flex;
      }

      &.mobile {
        display: none;
      }
    }
  }
}
