.myg-toolbar > .mdc-toolbar__row {
  padding-left: myg-spacing(sm);

  @include bigger-than(tablet) {
    padding-right: myg-spacing(sm);
  }

  & > section.mdc-toolbar__section.mdc-toolbar__section--align-start {
    & > h3 > a {
      color: color(text, darker);
      text-decoration: none !important;
    }
  }

  & > section.mdc-toolbar__section.mdc-toolbar__section--align-end {
    &:not(.mobile) {
      display: none;
    }

    & > a:not(.myg-button) {
      align-items: center;
      color: color(text, base);
      display: flex;
      font-size: px(14);
      justify-content: center;
      height: map-get($myg-layout, toolbar-height);
      padding: 0 px(15);
      text-decoration: none !important;

      @include transition(color);

      &:hover {
        color: color(accent, base);
      }
    }

    & > a.myg-button {
      margin-left: px(15);
    }

    &.mobile > a {
      background: color(background, base);
      padding: 0 px(20);

      @include transition(background);

      &:hover {
        background: color(background, lighter);
      }
    }
  }

  @include bigger-than(tablet) {
    section.mdc-toolbar__section.mdc-toolbar__section--align-end {
      &:not(.mobile) {
        display: flex;
      }

      &.mobile {
        display: none;
      }
    }
  }
}
