body.welcome.contact {
  .myg-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2,
    p {
      max-width: 85%;
    }

    h2 {
      margin-bottom: 0;
    }

    p {
      margin: myg__px(5) 0 myg__px(35);
    }

    a {
      margin-bottom: myg__px(75);
    }
  }
}
