body.welcome.index {
  .myg-content > section {
    padding: myg-spacing(4);

    & > .myg-layout__wrap--large {
      padding: myg-spacing(4);
    }
  }

  .myg-card {
    background: myg-theme__color(background, base);
    padding: 0;

    @include myg-grid__grid-span(4);

    h2 {
      margin-bottom: 0;
    }

    .myg-card__top {
      align-items: center;
      background: myg-theme__color(background, dark);
      display: flex;
      height: myg__px(300);
      justify-content: center;

      img {
        border-radius: myg__px(5);
        height: myg__px(125);
      }
    }

    .myg-card__bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: myg__px(260);
      padding: myg-spacing(4);

      .wrapper {
        .myg-badge__container {
          margin-bottom: myg__px(15);
        }

        & > h3 {
          margin: myg__px(20) 0 myg__px(5);
        }

        & > p {
          margin: 0;

          &:last-child {
            margin: 0 0 myg__px(25);

            &.sm {
              color: myg-theme__color(text, light);
              margin-top: myg__px(5);
            }
          }
        }
      }
    }
  }

  p.lg {
    margin-bottom: myg__px(35);
  }

  #home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - #{myg__px(225)});
    text-align: center;

    @include myg-grid__bigger-than(desktop) {
      align-items: flex-start;
      text-align: left;
    }

    h1,
    p {
      max-width: 85%;
      width: myg__px(650);
    }

    h1 {
      margin: myg__px(100) 0 0;

      @include myg-grid__smaller-than(phone) {
        font-size: myg__px(40);
        margin: myg__px(50) 0 0;
      }
    }

    .myg-button__container {
      margin-bottom: myg__px(100);
    }
  }

  #apps {
    background: myg-theme__color(background, lighter);
    padding: 0;

    @include myg-grid__bigger-than(large) {
      padding: myg__px(5) 0 myg__px(25);
    }

    @include myg-grid__bigger-than(desktop) {
      padding: myg__px(25) 0 myg__px(75);
    }

    @include myg-grid__smaller-than(large) {
      h2 {
        margin-top: myg__px(10);
      }
    }
  }

  #subscribe {
    background: myg-theme__color(text, dark);
    padding: myg__px(75) 0 myg__px(100);

    & > div {
      width: 85%;

      h1,
      p {
        color: myg-theme__color(background, base);
      }

      .myg-button {
        background: myg-theme__color(text, dark);
        border-color: myg-theme__color(background, base) !important;

        &:hover {
          background: myg-theme__color(background, base);
          color: myg-theme__color(text, dark);
        }
      }
    }
  }

  #open-source {
    padding: 0;

    @include myg-grid__bigger-than(large) {
      padding: myg__px(5) 0 myg__px(25);
    }

    @include myg-grid__bigger-than(desktop) {
      padding: myg__px(25) 0 myg__px(75);
    }

    @include myg-grid__smaller-than(large) {
      h2 {
        margin-top: myg__px(10);
      }
    }

    .myg-card__top {
      height: myg__px(25);
    }

    .myg-card__bottom {
      min-height: myg__px(300);
    }
  }

  #apps,
  #open-source {
    .myg-grid__grid {
      @include myg-grid__grid-columns(repeat(12, 1fr));
      @include myg-grid__grid-gap(myg__px(20));
    }
  }

  #myg {
    background: myg-theme__color(background, lighter);
    padding: myg__px(50) 0;

    & > div {
      align-items: center;
      display: flex;
      flex-direction: column;

      & > p {
        max-width: 75%;
        text-align: center;
      }

      p.sm {
        color: myg-theme__color(text, lighter);
      }

      & > .wrapper {
        margin-bottom: myg__px(20);

        & > .wrapper {
          display: flex;
          flex-wrap: wrap;
          margin: myg__px(-6);

          & > a {
            margin: myg__px(6);
            opacity: 0.7;

            @include myg-animate__transition;

            path,
            rect {
              fill: myg-theme__color(text, lighter);
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
