- meta title: 'Contact me', description: 'I can help you? Let me know.'
- append :head do
  = component('seo/schema', type: :person, name: 'Jonas Hübotter',
              email: 'me@jonhue.me', address: 'Berlin', gender: 'male',
              job_title: 'Software Developer', url: 'https://jonhue.me',
              image: 'https://jonhue.me/512x512.png',
              description: description)

%h2.lg I can help you?
%p.lg Please keep it short and succinct. I value my time ⌛️

= link_to('Let me know', "mailto:#{Settings.email}",
          class: 'myg-button myg-button--secondary')
