- meta title: 'Privacy Policy', description: 'I value your anonymity and do not use your data unless you want me to.'
- append :head do
    = component 'seo/schema', type: :article, headline: 'Privacy Policy', in_language: 'English', author: { type: :person, name: 'Jonas Hübotter', email: 'me@jonhue.me', address: 'Berlin', gender: 'male', job_title: 'Software Developer', url: 'https://jonhue.me', image: 'https://jonhue.me/512x512.png', description: 'A student, a dangerously passionate open-source developer, an engineer adoring user-oriented and innovative design.' }
