$default: (
    accent: (
        dark: #052ab3,
        base: #042ECB
    ),
    text: (
        lighter: #14171A,
        light: #3d4553,
        base: #657786,
        dark: #bec7cf
    ),
    border: #DCE2E7,
    background: (
        lighter: #FCFCFC,
        light: #FFFFFF,
        base: #FFFFFF,
        dark: #EBF5FE
    )
);
