database:
  username: XXX
  password: XXX

google_analytics:
  tracking_id: XXX

onesignal:
  app_id: XXX

sentry:
  dsn: XXX

skylight:
  token: XXX

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: XXX
