- meta(title: "#{@app.name} Privacy Policy", description: privacy_title(@app))
- append :head do
  = component('seo/schema', type: :article,
              headline: "#{@app.name} Privacy Policy", in_language: 'English')


%section#policy
  .myg-wrap--tablet

    %h1 #{@app.name} Privacy Policy

    %p This service is intended for use as is.
    %p
      This page is used to inform visitors regarding my policies with the
      collection, use, and disclosure of personal information if anyone decided
      to use my service.
    %p
      If you choose to use my service, then you agree to the collection and use
      of information in relation to this policy. The personal information that I
      collect is used for providing and improving the service. I will not use or
      share your information with anyone except as described in this privacy
      policy.

    %h3 1. Information Collection and Use

    %p
      For a better experience, while using our service, I may require you to
      provide us with certain personally identifiable information, including but
      not limited to email, first and last name.
    %p
      This service does use third party services that may collect information
      used to identify you.

    %h3 2. Log Data

    %p
      I want to inform you that whenever you use my service, in a case of an
      error in the app I collect data and information (through third party
      products) on your phone called log data. This log data may include
      information such as your device Internet Protocol (IP) address, device
      name, operating system version, the configuration of the app when
      utilizing my service, the time and date of your use of the service, and
      other statistics.

    %h3 3. Cookies

    %p
      Cookies are files containing a small amount of data that is commonly used
      an anonymous unique identifier. These are sent to your browser from the
      website that you visit and are stored on your device internal memory.
    %p
      This service does use these cookies to collect information and to improve
      its functionality. You have the option to either accept or refuse these
      cookies and know when a cookie is being sent to your device. If you choose
      to refuse our cookies, you may not be able to use some portions of this
      service.

    %h3 4. Service Providers

    %p
      I may employ third-party companies and individuals due to the following
      reasons:

    %ol{ type: 'a' }
      %li To facilitate our service;
      %li To provide the service on our behalf;
      %li To perform service-related services; or
      %li To assist us in analyzing how our service is used.

    %p
      I want to inform users of this service that these third parties have
      access to your personal information. The reason is to perform the tasks
      assigned to them on our behalf. However, they are obligated not to
      disclose or use the information for any other purpose.

    %h3 5. Security

    %p
      I value your trust in providing us your personal information, thus we are
      striving to use commercially acceptable means of protecting it. But
      remember that no method of transmission over the internet, or method of
      electronic storage is 100% secure and reliable, and I cannot guarantee its
      absolute security.

    %h3 6. Links to Other Sites

    %p
      This service may contain links to other sites. If you click on a
      third-party link, you will be directed to that site. Note that these
      external sites are not operated by me. Therefore, I strongly advise you to
      review the privacy policy of these websites. I have no control over and
      assume no responsibility for the content, privacy policies, or practices
      of any third-party sites or services.

    %h3 7. Children's Privacy

    %p
      This service do not address anyone under the age of 13. I do not knowingly
      collect personally identifiable information from children under 13. In the
      case I discover that a child under 13 has provided me with personal
      information, I will immediately delete it from our servers. If you are a
      parent or guardian and you are aware that your child has provided us with
      personal information, please contact me so that I am able to execute the
      necessary actions.

    %h3 8. Changes to this Privacy Policy

    %p
      We may update our privacy policy from time to time. Thus, you are advised
      to review this page periodically for any changes. I will notify you of any
      changes by posting the new privacy policy on this page. These changes are
      effective immediately after they are posted on this page.
