- meta title: @app.name, description: @app.description
- append :head do
    = component 'seo/schema', type: :product, category: 'App', logo: @app.logo, name: @app.name, description: @app.description, url: @app.url
