body.welcome.contact

    .myg-content
        +flex--center
        text-align: center
        flex-direction: column
        h2, p
            max-width: 85%
        h2
            margin-bottom: 0
        p
            margin: px(5) 0 px(35)
        a
            margin-bottom: px(75)
