body.welcome.index {
  .myg-content > section {
    padding: myg-spacing(base);

    & > .myg-wrap--large {
      padding: myg-spacing(base);
    }
  }

  .myg-card {
    background: color(background, base);
    padding: 0;

    @include myg-grid-span(4);

    h2 {
      margin-bottom: 0;
    }

    .myg-card--top {
      align-items: center;
      background: color(background, dark);
      display: flex;
      height: px(300);
      justify-content: center;

      img {
        border-radius: px(5);
        height: px(125);
      }
    }

    .myg-card--bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: px(260);
      padding: myg-spacing(base);

      .wrapper {
        .myg-badge--container {
          margin-bottom: px(15);
        }

        & > h3 {
          margin: px(20) 0 px(5);
        }

        & > p {
          margin: 0;

          &:last-child {
            margin: 0 0 px(25);

            &.sm {
              color: color(text, light);
              margin-top: px(5);
            }
          }
        }
      }
    }
  }

  p.lg {
    margin-bottom: px(35);
  }

  #home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - #{px(225)});
    text-align: center;

    @include bigger-than(desktop) {
      align-items: flex-start;
      text-align: left;
    }

    h1,
    p {
      max-width: 85%;
      width: px(650);
    }

    h1 {
      margin: px(100) 0 0;

      @include smaller-than(phone) {
        font-size: px(40);
        margin: px(50) 0 0;
      }
    }

    .myg-button--container {
      margin-bottom: px(100);
    }
  }

  #apps {
    background: color(background, lighter);
    padding: 0;

    @include bigger-than(large) {
      padding: px(5) 0 px(25);
    }

    @include bigger-than(desktop) {
      padding: px(25) 0 px(75);
    }

    @include smaller-than(large) {
      h2 {
        margin-top: px(10);
      }
    }
  }

  #subscribe {
    background: color(text, dark);
    padding: px(75) 0 px(100);

    & > div {
      width: 85%;

      h1,
      p {
        color: color(background, base);
      }

      .myg-button {
        background: color(text, dark);
        border-color: color(background, base) !important;

        &:hover {
          background: color(background, base);
          color: color(text, dark);
        }
      }
    }
  }

  #open-source {
    padding: 0;

    @include bigger-than(large) {
      padding: px(5) 0 px(25);
    }

    @include bigger-than(desktop) {
      padding: px(25) 0 px(75);
    }

    @include smaller-than(large) {
      h2 {
        margin-top: px(10);
      }
    }

    .myg-card--top {
      height: px(25);
    }

    .myg-card--bottom {
      min-height: px(300);
    }
  }

  #myg {
    background: color(background, lighter);
    padding: px(50) 0;

    & > div {
      align-items: center;
      display: flex;
      flex-direction: column;

      & > p {
        max-width: 75%;
        text-align: center;
      }

      p.sm {
        color: color(text, lighter);
      }

      & > .wrapper {
        margin-bottom: px(20);

        & > .wrapper {
          display: flex;
          flex-wrap: wrap;
          margin: px(-6);

          & > a {
            margin: px(6);
            opacity: 0.7;

            @include transition;

            path,
            rect {
              fill: color(text, lighter);
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
